*{
    padding: 0px;
    background-color: antiquewhite;
}
h1{
    color: rgb(169, 1, 1);
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
}
h3{
    font-size: 40px;
    margin-top: 20px;
    padding: 10px;
}
form{
    padding: 20px;
    margin-left: 50px;
}
form input{
    width: 250px;
    height: 30px;
    border: 2px solid rgb(42, 42, 42);
    border-radius: 8px;
}

label{
    font-size: 25px;
}
:placeholder-shown{
    font-style: italic;
    padding: 5px;
}
textarea{
    padding: 10px;
    border-radius: 10px;
}

button{
    width: 100px;
    height: 40px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 8px;

}
button:hover{
    background-color: black;
    color: white;
}